<ng-container *ngIf="dictionaryList$ | async as taskList">
  <p-table [value]="taskList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th width="2%">Edit</th>
        <th width="2%">Done</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          <p-button
            [label]="task.label"
            [routerLink]="['/tasks', task.id]"
            [state]="{id: task.id}"
            styleClass="p-button-link"
          ></p-button>
        </td>
        <td>{{ task.date.toLocaleDateString() }}</td>
        <td>
          <p-button
            [routerLink]="['/tasks/' + task.id + '/edit']"
            [state]="{id: task.id}"
            icon="pi pi-file-edit"
            styleClass="p-button-rounded p-button-text p-button-raised"
            title="Edit"
          ></p-button>
        </td>
        <td>
          <p-button
            (onClick)="onDoneClick(task.id)"
            icon="pi pi-check"
            styleClass="p-button-rounded p-button-text p-button-raised"
            title="Done"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
