<form [formGroup]="form">
    <div class="input-wrapper">
        <label htmlFor="title">Title</label>
        <div>
            <input pInputText id="title" aria-describedby="title-help" (change)="onInputChange()" formControlName="title" [class]="isError() ? 'ng-invalid ng-dirty' : ''"/>
            <p-message severity="error" text="Field is required" *ngIf="isError()"></p-message>
        </div>
    </div>
    <div class="input-wrapper">
        <label htmlFor="description">Description</label>
        <textarea
        rows="5"
        cols="50"
        pInputTextarea
        id="description"
        [autoResize]="true"
        formControlName="description"
        ></textarea>
    </div>
    <div class="input-wrapper">
        <p>Deadline</p>
        <p-calendar formControlName="date" [showIcon]="true"></p-calendar>
    </div>
    <p-button label="Submit" (onClick)="onSubmit()"></p-button>
    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</form>