:host{
    margin-top: 20px;
    display: block;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
}