<ng-container *ngIf="doneDictionaryList$ | async as doneTaskList">
  <p-table [value]="doneTaskList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          <p-button
            [label]="task.label"
            [routerLink]="['/tasks', task.id]"
            styleClass="p-button-link"
          ></p-button>
        </td>
        <td>{{ task.date.toLocaleDateString() }}</td>
        <td>
          <p-button
            (onClick)="onDeleteClick(task.id)"
            icon="pi pi-times"
            styleClass="p-button-rounded p-button-text p-button-raised"
            title="Delete"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
