<ng-container *ngIf="vm$ | async as vm">
  <p-table [value]="vm.dictionaries" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th width="2%">Edit</th>
        <th width="2%">Done</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dictionary let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          <p-button
            [label]="dictionary.label"
            [routerLink]="['/tasks', dictionary.id]"
            [state]="{id: dictionary.id}"
            styleClass="p-button-link"
          ></p-button>
        </td>
        <td>{{ dictionary.date | date }}</td>
        <td>
          <p-button
            [routerLink]="['/tasks/' + dictionary.id + '/edit']"
            icon="pi pi-file-edit"
            styleClass="p-button-rounded p-button-text p-button-raised"
            title="Edit"
          ></p-button>
        </td>
        <td>
          <p-button
            (onClick)="onDoneClick(dictionary.id)"
            icon="pi pi-check"
            styleClass="p-button-rounded p-button-text p-button-raised"
            title="Done"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-progressBar *ngIf="vm.isLoading" mode="indeterminate" [style]="{ height: '6px'}"></p-progressBar>
  <p-messages [(value)]="vm.messages" [enableService]="false" [closable]="false"></p-messages>
</ng-container>